# {{ ansible_managed }}
# RHEL 9 STIG audit watch rules - monitor critical system files for modification
{% for watch in stig_audit_watches %}
-w {{ watch.path }} -p {{ watch.perm }} -k {{ watch.key }}
{% endfor %}
